# Ingestion
pdfplumber==0.10.3
python-docx==1.1.0
requests==2.31.0
beautifulsoup4==4.12.3

# Pipeline
pandas>=2.1.4
tqdm==4.66.1

# Embeddings
sentence-transformers==2.3.1

# Base vectorielle
chromadb==1.5.9

# LLM
mistralai==1.0.0

# Interface
streamlit==1.31.0

# Utilitaires
python-dotenv==1.0.0
